# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:al132.alchemistry.blocks.BaseBlock=true
    B:al132.alchemistry.blocks.WetSandBlock=true
    B:al132.morecharcoal.BlockCharcoalBase=true
    B:alsender.earthworks.block.Block_Chalk=true
    B:alsender.earthworks.block.Block_Gabion=true
    B:alsender.earthworks.block.Block_Planks_Vert=true
    B:alsender.earthworks.block.Block_Wood_Shingle=true
    B:alsender.earthworks.block.ModBlock=true
    B:alsender.earthworks.block.ModBlockFacing=true
    B:alsender.earthworks.block.ModRotatedPillar=true
    B:alsender.earthworks.block.timber.Daub_Cob=true
    B:alsender.earthworks.block.timber.Plaster=true
    B:com.bafomdad.uniquecrops.blocks.BlockBaseUC=true
    B:com.bafomdad.uniquecrops.blocks.BlockDarkBlock=true
    B:com.bafomdad.uniquecrops.blocks.BlockFlywoodLog=true
    B:com.bafomdad.uniquecrops.blocks.BlockOldGravel=true
    B:com.bafomdad.uniquecrops.blocks.BlockOldStone=true
    B:com.bafomdad.uniquecrops.blocks.BlockRuinedBricksRed=true
    B:com.direwolf20.buildinggadgets.common.blocks.ConstructionBlockDense=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.latmod.mods.xencraft.block.BlockXen=true
    B:com.latmod.mods.xencraft.block.BlockXenBase=true
    B:com.latmod.mods.xencraft.block.BlockXenLog=true
    B:com.latmod.mods.xencraft.block.BlockXenOre=true
    B:com.latmod.mods.xencraft.block.BlockXenstone=true
    B:com.stal111.forbidden_arcanus.objects.blocks.BlockArcaneGold=true
    B:com.stal111.forbidden_arcanus.objects.blocks.BlockBase=true
    B:com.stal111.forbidden_arcanus.objects.blocks.BlockBeaconBase=true
    B:com.stal111.forbidden_arcanus.objects.blocks.BlockModLog=true
    B:com.stal111.forbidden_arcanus.objects.blocks.BlockModOre=true
    B:com.teamacronymcoders.contenttweaker.modules.vanilla.blocks.BlockContent=true
    B:com.teammetallurgy.atum.blocks.BlockAtumOres=true
    B:com.teammetallurgy.atum.blocks.BlockMarl=true
    B:com.teammetallurgy.atum.blocks.linen.BlockLinen=true
    B:com.teammetallurgy.atum.blocks.stone.alabaster.BlockAlabaster=true
    B:com.teammetallurgy.atum.blocks.stone.alabaster.BlockAlabasterBricks=true
    B:com.teammetallurgy.atum.blocks.stone.ceramic.BlockCeramic=true
    B:com.teammetallurgy.atum.blocks.stone.khnumite.BlockKhnumite=true
    B:com.teammetallurgy.atum.blocks.stone.khnumite.BlockKhnumiteFace=true
    B:com.teammetallurgy.atum.blocks.stone.khnumite.BlockKhnumiteRaw=true
    B:com.teammetallurgy.atum.blocks.stone.limestone.BlockLimestone=true
    B:com.teammetallurgy.atum.blocks.stone.limestone.BlockLimestoneBricks=true
    B:com.teammetallurgy.atum.blocks.stone.limestone.BlockLimestoneGravel=true
    B:com.teammetallurgy.atum.blocks.stone.porphyry.BlockPorphyry=true
    B:com.teammetallurgy.atum.blocks.stone.porphyry.BlockPorphyryBricks=true
    B:com.teammetallurgy.atum.blocks.wood.BlockAtumLog=true
    B:com.teammetallurgy.atum.blocks.wood.BlockAtumPlank=true
    B:com.teammetallurgy.atum.blocks.wood.BlockDeadwood=true
    B:crazypants.enderio.base.block.darksteel.obsidian.BlockReinforcedObsidian=true
    B:crazypants.enderio.base.block.decoration.BlockDecoration=true
    B:crazypants.enderio.base.block.decoration.BlockDecorationFacing=true
    B:crazypants.enderio.base.block.infinity.BlockInfinity=true
    B:crazypants.enderio.base.block.insulation.BlockIndustrialInsulation=true
    B:crazypants.enderio.base.material.alloy.BlockAlloy=true
    B:crazypants.enderio.base.material.alloy.endergy.BlockEndergyAlloy=true
    B:exnihilocreatio.blocks.BlockBaseFalling=true
    B:fi.dy.masa.autoverse.block.BlockSensor=true
    B:knightminer.ceramics.blocks.BlockClayHard=true
    B:knightminer.ceramics.blocks.BlockClayRainbow=true
    B:knightminer.ceramics.blocks.BlockClaySoft=true
    B:knightminer.ceramics.blocks.BlockStained=true
    B:knightminer.inspirations.building.block.BlockMulch=true
    B:lykrast.prodigytech.common.block.BlockGeneric=true
    B:lykrast.prodigytech.common.block.BlockLogGeneric=true
    B:me.ichun.mods.ichunutil.common.block.BlockCompactPorkchop=true
    B:net.blay09.mods.cookingforblockheads.block.BlockKitchenFloor=true
    B:net.darkhax.darkutils.features.material.BlockWitherDust=true
    B:net.darkhax.darkutils.features.shulkerpearl.BlockShulkerPearl=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:nex.block.BlockAmethyst=true
    B:nex.block.BlockAmethystOre=true
    B:nex.block.BlockBasalt=true
    B:nex.block.BlockElderMushroomCap=true
    B:nex.block.BlockElderMushroomStem=true
    B:nex.block.BlockHyphae=true
    B:nex.block.BlockNetherBrick=true
    B:nex.block.BlockNetherrack=true
    B:nex.block.BlockQuartzOre=true
    B:nex.block.BlockRime=true
    B:nex.block.BlockRimeOre=true
    B:nex.block.BlockWornIron=true
    B:"org.cyclops.evilcraft.block.BloodWaxedCoalBlockConfig$1"=true
    B:"org.cyclops.evilcraft.block.BloodyCobblestoneConfig$1"=true
    B:org.cyclops.evilcraft.block.DarkBlock=true
    B:org.cyclops.evilcraft.block.DarkBloodBrick=true
    B:"org.cyclops.evilcraft.block.DarkBrickConfig$1"=true
    B:org.cyclops.evilcraft.block.DarkPowerGemBlock=true
    B:org.cyclops.evilcraft.block.HardenedBlood=true
    B:org.cyclops.evilcraft.block.LightningBomb=true
    B:org.cyclops.evilcraft.block.NetherfishSpawn=true
    B:"org.cyclops.evilcraft.block.UndeadLogConfig$1"=true
    B:"org.cyclops.evilcraft.block.UndeadPlankConfig$1"=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedChorusBlockConfig$1"=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedChorusBrickConfig$1"=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedMenrilBlockConfig$1"=true
    B:"org.cyclops.integrateddynamics.block.BlockCrystalizedMenrilBrickConfig$1"=true
    B:org.cyclops.integrateddynamics.block.BlockLogicProgrammer=true
    B:org.cyclops.integrateddynamics.block.BlockMenrilLog=true
    B:org.cyclops.integrateddynamics.block.BlockMenrilLogFilled=true
    B:"org.cyclops.integrateddynamics.block.BlockMenrilPlanksConfig$1"=true
    B:org.jwaresoftware.mcmods.vfp.carton.BakeryCarton=true
    B:org.jwaresoftware.mcmods.vfp.carton.FruitCarton=true
    B:org.jwaresoftware.mcmods.vfp.carton.JarsCarton=true
    B:org.jwaresoftware.mcmods.vfp.carton.MeatsCarton=true
    B:org.jwaresoftware.mcmods.vfp.carton.VegetableCarton=true
    B:org.jwaresoftware.mcmods.vfp.common.VfpOreBlock=true
    B:org.jwaresoftware.mcmods.vfp.common.VfpPantryBlock=true
    B:org.jwaresoftware.mcmods.vfp.meats.LlamaFleece=true
    B:ovh.corail.tombstone.block.BlockDarkMarble=true
    B:ovh.corail.tombstone.block.BlockGraveMarble=true
    B:se.mickelus.tetra.blocks.forged.BlockForgedPillar=true
    B:se.mickelus.tetra.blocks.forged.BlockForgedPlatform=true
    B:se.mickelus.tetra.blocks.forged.BlockForgedWall=true
    B:se.mickelus.tetra.blocks.forged.extractor.BlockCoreExtractorPipe=true
    B:sonar.calculator.mod.common.block.CalculatorLogs=true
    B:sonar.calculator.mod.common.block.CalculatorPlanks=true
    B:sonar.calculator.mod.common.block.MaterialBlock=true
    B:sonar.core.common.block.BlockBase=true
    B:sonar.core.common.block.StableStone=true
    B:soot.block.BlockPillar=true
    B:stal111.forbidden_arcanus.objects.blocks.BlockArcaneGold=true
    B:stal111.forbidden_arcanus.objects.blocks.BlockBase=true
    B:stal111.forbidden_arcanus.objects.blocks.BlockCustomLog=true
    B:stal111.forbidden_arcanus.objects.blocks.BlockModOre=true
    B:teamroots.embers.block.BlockBase=true
    B:teamroots.embers.block.BlockQuartzOre=true
    B:terrails.netherutils.blocks.wood.BlockNTFLog=true
    B:terrails.netherutils.blocks.wood.BlockNTFPlanks=true
    B:tschipp.buildingblocks.blocks.BlockExtraStones=true
    B:tschipp.buildingblocks.blocks.BlockExtraStones2=true
    B:tschipp.buildingblocks.blocks.BlockExtraStones3=true
    B:tschipp.buildingblocks.blocks.BlockGeneric=true
    B:tschipp.buildingblocks.blocks.BlockGravelGrass=true
    B:twilightforest.block.BlockTFAuroraBrick=true
    B:twilightforest.block.BlockTFAuroraPillar=true
    B:twilightforest.block.BlockTFCastleBlock=true
    B:twilightforest.block.BlockTFCastleDoor=true
    B:twilightforest.block.BlockTFCastleMagic=true
    B:twilightforest.block.BlockTFCastlePillar=true
    B:twilightforest.block.BlockTFCinderFurnace=true
    B:twilightforest.block.BlockTFCinderLog=true
    B:twilightforest.block.BlockTFCompressed=true
    B:twilightforest.block.BlockTFDarkLeaves=true
    B:twilightforest.block.BlockTFDeadrock=true
    B:twilightforest.block.BlockTFDiagonal=true
    B:twilightforest.block.BlockTFFluffyCloud=true
    B:twilightforest.block.BlockTFGiantCobble=true
    B:twilightforest.block.BlockTFGiantLog=true
    B:twilightforest.block.BlockTFGiantObsidian=true
    B:twilightforest.block.BlockTFHorizontal=true
    B:twilightforest.block.BlockTFHugeGloomBlock=true
    B:twilightforest.block.BlockTFHugeStalk=true
    B:twilightforest.block.BlockTFLog=true
    B:twilightforest.block.BlockTFMagicLog=true
    B:twilightforest.block.BlockTFMagicLogSpecial=true
    B:twilightforest.block.BlockTFMazestone=true
    B:twilightforest.block.BlockTFNagastone=true
    B:twilightforest.block.BlockTFNagastoneEtched=true
    B:twilightforest.block.BlockTFNagastonePillar=true
    B:twilightforest.block.BlockTFRoots=true
    B:twilightforest.block.BlockTFShield=true
    B:twilightforest.block.BlockTFTowerDevice=true
    B:twilightforest.block.BlockTFTowerWood=true
    B:twilightforest.block.BlockTFTrollSteinn=true
    B:twilightforest.block.BlockTFUncraftingTable=true
    B:twilightforest.block.BlockTFUnderBrick=true
    B:"twilightforest.block.RegisterBlockEvent$1"=true
    B:"twilightforest.block.RegisterBlockEvent$2"=true
    B:vazkii.botania.common.block.BlockBifrostPerm=true
    B:vazkii.botania.common.block.BlockDreamwood=true
    B:vazkii.botania.common.block.BlockFelPumpkin=true
    B:vazkii.botania.common.block.BlockLivingrock=true
    B:vazkii.botania.common.block.BlockLivingwood=true
    B:vazkii.botania.common.block.BlockManaBomb=true
    B:vazkii.botania.common.block.BlockRoot=true
    B:vazkii.botania.common.block.BlockStorage=true
    B:vazkii.botania.common.block.decor.BlockBlaze=true
    B:vazkii.botania.common.block.decor.BlockCustomBrick=true
    B:vazkii.botania.common.block.decor.BlockElfGlass=true
    B:vazkii.botania.common.block.decor.BlockManaGlass=true
    B:vazkii.botania.common.block.decor.BlockPavement=true
    B:vazkii.botania.common.block.decor.BlockPetalBlock=true
    B:vazkii.botania.common.block.decor.BlockShimmerrock=true
    B:vazkii.botania.common.block.decor.BlockShimmerwoodPlanks=true
    B:vazkii.botania.common.block.decor.biomestone.BlockBiomeStoneA=true
    B:vazkii.botania.common.block.decor.biomestone.BlockBiomeStoneB=true
    B:vazkii.botania.common.block.decor.quartz.BlockSpecialQuartz=true
    B:vazkii.botania.common.block.mana.BlockAlchemyCatalyst=true
    B:vazkii.botania.common.block.mana.BlockConjurationCatalyst=true
    B:"wolforce.Main$1"=true
    B:"wolforce.Main$10"=true
    B:"wolforce.Main$11"=true
    B:"wolforce.Main$12"=true
    B:"wolforce.Main$13"=true
    B:"wolforce.Main$14"=true
    B:"wolforce.Main$15"=true
    B:"wolforce.Main$4"=true
    B:"wolforce.Main$5"=true
    B:"wolforce.Main$6"=true
    B:"wolforce.Main$7"=true
    B:"wolforce.Main$8"=true
    B:"wolforce.Main$9"=true
    B:wolforce.base.MyBlock=true
    B:wolforce.base.MyFalling=true
    B:wolforce.base.MyLog=true
    B:wolforce.blocks.BlockCrushing=true
    B:wolforce.blocks.BlockGroundShovel=true
    B:wolforce.blocks.BlockHeat=true
    B:yuudaari.soulus.common.block.BlockEndersteel=true
    B:yuudaari.soulus.common.block.BlockEndersteelDark=true
    B:yuudaari.soulus.common.block.BlockNiobium=true
    B:yuudaari.soulus.common.block.fossil.FossilDirt=true
    B:yuudaari.soulus.common.block.fossil.FossilEndStone=true
    B:yuudaari.soulus.common.block.fossil.FossilGravel=true
    B:yuudaari.soulus.common.block.fossil.FossilNetherrack=true
    B:yuudaari.soulus.common.block.fossil.FossilSand=true
    B:yuudaari.soulus.common.block.fossil.FossilSandRed=true
    B:"yuudaari.soulus.common.registration.Registration$Block"=true
    B:"yuudaari.soulus.common.registration.Registration$BlockPillar"=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


